body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

#areaPanel {
  box-sizing: border-box;
  width: calc(100% - 12em);
  height: 100vh;
  float: left;
  background: white;
}

#savedItemsPanel {
  box-sizing: border-box;
  background: hsl(289, 100%, 75%);
  width: 12em;
  height: 100vh;
  float: right;
}

#area {
  padding: 10%;
}

#addRectangle,
#clearArea,
#saveArea {
  background: white;
  font-size: 0.9em;
  border-radius: 2px;
  width: 8em;
  height: 3.5em;
  margin: 1em 0 0 1em;
  border: 1px solid hsl(245, 100%, 50%);
  color: hsl(245, 100%, 50%);
}

#addRectangle:hover,
#clearArea:hover,
#saveArea:hover {
  color: white;
  background: hsl(245, 100%, 50%);
  cursor: pointer;
}

.newRectangle {
  width: 4em;
  height: 4em;
  background: blue;
  overflow: auto;
  resize: both;
  cursor: nwse-resize;
  min-width: 10px;
  min-height: 10px;
  border-radius: 5px;
}

.innerRectangleHeight {
  position: absolute;
  height: calc(100% - 10px);
  width: 100%;
  cursor: move;
}

.innerRectangleWidth {
  position: absolute;
  height: 100%;
  width: calc(100% - 10px);
  cursor: move;
}

.changeColor {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5em 0.5em 0 0;
  background: white;
  font-size: 0.7em;
  border-radius: 2px;
  border: 1px solid hsl(245, 100%, 50%);
  color: hsl(245, 100%, 50%);
  cursor: pointer;
  display: none;
}

.newRectangle:hover .changeColor{
  display: block;
}

#savedAreas {
  padding: 2em 1em 0 1em;
}

.savedAreaContainer {
  padding-top: 1em;
  display: flex;
  align-items: center;
}
.savedAreaContainer p {
  font-weight: 700;
}

.savedAreaContainer span {
  display: none;
  font-size: 0.8em;
  margin-left: 0.5em;
}

.savedAreaContainer:hover span{
  display: block;
  cursor: pointer;
}



